/*
 * TFT controller specific code
 */

&spi0 {
	#address-cells = <1>;
	#size-cells = <0>;

	is-decoded-cs = <0>;
	num-cs = <3>;

	rpidisplay: rpi-display@0 { 
		compatible = "ilitek,ili9341"; 
		reg = <0>; 
		spi-max-frequency = <32000000>; 

		rotate = <0>; 
		bgr; 
		fps = <10>; 
		buswidth = <8>; 

		reset-gpios = <&gpio0 70 0>; 
		dc-gpios = <&gpio0 71 0>; 
		
		debug = <0>; 
	}; 

	rpidisplay_ts: rpi-display-ts@1 { 
		compatible = "ti,ads7846"; 
		reg = <1>; 
		spi-max-frequency = <1000000>; 

		interrupts = <72 0>; 
		interrupt-parent = <&gpio0>; 
		pendown-gpio = <&gpio0 72 0>; 
		vcc-supply = <&fixedreg33>;
	}; 

	myspidev: spidev@2 {
		compatible = "linux,spidev";
		reg = <2>;
		spi-max-frequency = <1000000>;
	};
};
/{
	aliases {
		spi0 = &spi0;
	};

	backlight {
		compatible = "gpio-backlight";
		gpios = <&gpio0 63 0>;
		default-on;
	};

	fixedreg33: fixed33@0 {
		compatible = "regulator-fixed";
		regulator-name = "fixed-supply";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};
};

/*
 * QSPI Flash specific code
 */

&qspi {
      xlnx,fb-clk = <0x1>;
      xlnx,qspi-mode = <0x0>;
      flash0: s25fl128s@0 {
              compatible = "spansion,s25fl128s", "jedec,spi-nor";
              reg = <0x0>;
              spi-tx-bus-width = <1>;
              spi-rx-bus-width = <4>;
              spi-max-frequency = <50000000>;
              //spi-max-frequency = <100000000>;
              #address-cells = <1>;
              #size-cells = <1>;
              partition@qspi-fsbl-uboot {
                        label = "qspi-fsbl-uboot";
                        reg = <0x0 0x200000>;
              };
              partition@qspi-linux {
                        label = "qspi-linux";
                        reg = <0x200000 0x400000>;
              };
              partition@qspi-device-tree {
                        label = "qspi-device-tree";
                        reg = <0x600000 0x20000>;
              };
              partition@qspi-rootfs {
                        label = "qspi-rootfs";
                        reg = <0x620000 0x5E0000>;
              };
              partition@qspi-bitstream {
                        label = "qspi-bitstream";
                        reg = <0xC00000 0x400000>;
              };
      };
};
