html,
body {
    width: 100%;
    height: 100%;
}

body {
    color: #cdcccc;
    overflow: auto;
    padding-right: 0 !important;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clear:before,
.clear:after {
    content: "";
    display: table;
}

.clear:after {
    clear: both;
}

.modal {}

input,
#info div,
#info span,
.selectable {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

input {}

button:focus,
button:active,
select:focus,
input:focus,
option:focus {
    outline: 0 !important;
    -webkit-appearance: none !important;
}

area:hover {
    cursor: pointer;
}

.full-content {
    /*min-width: 1024px;*/
    margin: 0 auto;
    position: relative;
}

.container-fluid {
    margin-top: 20px;
}

.container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-collapse {
    float: right;
}

.navbar-nav li {
    width: 131px;
    text-align: center;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 30px;
    border-left: 1px solid #999;
}

.navbar-inverse .navbar-nav>li>a {
    color: #cdcccc;
    outline: none;
}

.nav>li>a:hover {
    background-color: #444 !important;
    color: #E5D5D5;
}

.navbar {
    border-radius: 0px;
    background-color: #343433;
    background-image: linear-gradient(to bottom, #343433 0, #343433 100%);
    border: 1px solid #999;
    min-height: 42px;
    border-left: 1px solid #999;
}

.back-btn {
    height: 22px;
    float: left;
    margin: -6px 0px 0px 11px;
}

.logo {
    margin: 5px 0px 0px 15px;
    float: left;
}

.navbar-collapse collapse in {
    width: 100%;
    overflow: hidden;
}

.label-text-size {
    font-size: 12px;
}

.navbar-brand {
    height: 40px;
}

.close {
    color: #CAB7B7;
    opacity: 1;
    text-shadow: 0 0 0 !important;
}

.modal-content {
    background-color: #343433;
    border: 1px solid #999;
    border-radius: 0px;
    outline: 0;
}

.dialog {
    margin-right: 0px;
    display: none;
}

.close:hover,
.close:focus {
    color: #fff !important;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
}

.btn {
    background-image: none;
    border: 0 solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    line-height: 1.42857143;
    border-radius: 0;
    width: 100%;
    background-color: transparent;
    text-shadow: 0px 0px;
    /*  box-shadow: 0 0 0 1px #777; */
    color: #cdcccc !important;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.btn:hover,
btn:active {
    color: #fff !important;
    background-image: none;
}

.btn.focus {
    color: #777;
    border: 0px solid transparent;
}

.btn:active,
.btn.active {
    background-image: none;
    background-color: #999;
    color: #111 !important;
}

#header {
    background-color: black;
    color: #CCC;
    text-align: center;
    padding: 6px;
    overflow: hidden;
    height: 20px;
    width: 100%;
    white-space: nowrap;
}

input {
    -webkit-user-modify: read-write-plaintext-only;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    list-style: none;
    height: 20px;
    border: 1px solid;
    border-radius: 3px;
    color: #C0C0C0;
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.1);
}

select {
    -webkit-user-modify: read-write-plaintext-only;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    list-style: none;
    height: 20px;
    border: 1px solid;
    font-size: 13px;
    color: #C0C0C0;
    background-color: rgba(0, 0, 0, 0.1);
}

select.protocol {
    width: 100px;
    margin-left: 10px;
}

select option {
    margin: 30px;
    background: #eee5;
    color: #343433;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

input span {
    color: #337ab7;
}

input.ipaddress {
    width: 240px;
    margin-left: 10px;
}

 ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: lightblue;
}

 :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: lightblue;
    opacity: 1;
}

 ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: lightblue;
    opacity: 1;
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: lightblue;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: lightblue;
}

 ::placeholder {
    /* Most modern browsers support this now. */
    color: lightblue;
}

.run_buttons {
    display: inline-block;
    text-align: center;
    border: #888 1px solid;
    border-radius: 3px;
    background-color: #cdcccc;
    color: #000000;
    margin: 0 auto;
    font-size: 16pt;
}

.run_buttons:hover {
    background-color: #616b6b;
    cursor: pointer;
}

.run_buttons a {
    color: #000000;
    text-decoration: none;
}

.help_button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.container_inline {
    width: 100%;
}

.container_inline div {
    display: inline-block;
    margin-top: 10px;
}

.container_inline .ip {
    width: 150px;
    flex-grow: 0;
}

.graphs_holder div {
    margin-top: 0px;
}

.ch_setting {
    border: 1px solid #999;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    background: #2b2b2a;
}

.flipswitch_div {
    width: 100px;
    height: 30px;
    margin: 5px;
}

.flipswitch {
    position: relative;
    background: #2b2b2a;
    width: 100%;
    height: 100%;
    -webkit-appearance: initial;
    border-radius: 3px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    font-size: 11px;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #999;
}

.flipswitch:after {
    position: absolute;
    top: 5%;
    display: block;
    line-height: 24px;
    width: 45%;
    height: 90%;
    background: #cdcccc;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.3s ease-in 0s;
    color: black;
    border: #888 1px solid;
    border-radius: 3px;
}

.flipswitch:after {
    left: 2%;
    content: attr(data-off);
}

.flipswitch:checked:after {
    left: 53%;
    content: attr(data-on);
}

.varrow {
    position: absolute;
    left: 0;
    bottom: 8px;
    margin-left: -7px;
    margin-right: -7px;
    z-index: 12;
}

.vline {
    width: 2px;
    border-right: 2px dashed #ccc;
    position: absolute;
    top: 1px;
    bottom: 9px;
    left: 0;
    opacity: 0.8;
    z-index: 9;
    margin-bottom: 30px;
}

#cur_x_diff {
    height: 98%;
    background: rgba(83, 83, 83, 0.349);
    position: absolute;
    left: 0;
    top: 0px;
    margin-bottom: 7px;
}

#zoom_button {
    height: 32px;
    width: 32px;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 100;
}

.cursor_animation {
    opacity: 1;
    transition: opacity 0.3s linear;
}

.cursor_animation[is_hidden] {
    opacity: 0;
}

rbutton {
    outline:none;
    background: none;
    border:0;
    margin:.5em;
}
.round-button {
    width:25%;
}
.round-button-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    border:10px solid #cfdcec;
    overflow:hidden;

    background: #4679BD;
    box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
    background:#30588e;
}
.round-button a, .round-button span {
    display:block;
    float:left;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;

    text-align:center;
    color:#e2eaf3;
    font-family:Verdana;
    font-size:1.9em;
    font-weight:bold;
    text-decoration:none;
}