.subwindow {
    position: fixed;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 200;
    display: none;
    background-color: #343433;
    border: 3px solid #999;
    border-radius: 0px;
    outline: 0;
    overflow: hidden;
    min-height: 200px;
    min-width: 350px;
}

.subwindow-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subwindow-header div {
    font-size: 16px;
    font-weight: 800;
}

.subwindow-search div {
    font-size: 14px;
    padding-bottom: 4px;
}

.close-button {
    cursor: pointer;
    font-size: 1.5em;
}


.subwindow.show {
    display: block;
}

.hidden {
    display: none;
}

/* Resize Handle Styles */
.resize-handle {
    position: absolute;
    width: 10px;
    height: 10px;
    cursor: nwse-resize;
    /* Default cursor */
}

.resize-handle.bottom-right {
    bottom: 0;
    right: 0;
    cursor: se-resize;
}

.resizable-main {
    height: 100%;
    overflow: scroll;
    border: 1px solid #555555;
    scrollbar-color: #999 #555555;
}

.subwindow-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.disabled-show-button {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.disabled-show-button {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.disabled-show-button:hover {
    background: none !important;
    color: inherit !important;
    cursor: not-allowed;
}

.disabled-show-button a:hover {
    color: inherit !important;
    text-decoration: none !important;
}

.eeprom-calib-table {
    border-collapse: collapse;
    width: 100%;
    margin: 0;
    font-size: 12px;
    font-weight: bold;
}

.eeprom-calib-table th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px 12px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.eeprom-calib-table td {
    border: 1px solid rgba(153, 153, 153, 0.295);
    padding: 8px 12px;
}

.eeprom-calib-table .numeric-cell {
    text-align: right;
    font-weight: normal;
}

.eeprom-calib-table thead {
    background-color: #3d3d3d;
    position: sticky;
}

.eeprom-calib-table thead th {
    background-color: #292929;
    border: 1px solid rgba(153, 153, 153, 0.295);
}