table.darkTable {
    font-family: "Arial Black", Gadget, sans-serif;
    border: 2px solid #000000;
    background-color: #4A4A4A;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

table.darkTable td,
table.darkTable th {
    border: 1px solid #4A4A4A;
    padding: 3px 2px;
}

table.darkTable tbody td {
    font-size: 13px;
    color: #E6E6E6;
}

table.darkTable tbody tr:nth-child(even) {
    background: #575757;
}

table.darkTable thead {
    background: #000000;
    border-bottom: 3px solid #000000;
}

table.darkTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #E6E6E6;
    text-align: center;
    border-left: 2px solid #4A4A4A;
}

table.darkTable thead th:first-child {
    border-left: none;
}

table.darkTable tfoot td {
    font-size: 12px;
}

.am_start_buttons {
    padding: 5px;
}

.am_start_buttons li {
    display: inline-block;
    text-align: center;
    border: 1px solid;
    border-color: #cccccc;
    background-color: #999;
    color: #000000;
    margin: 0 auto;
    /* font-size: 16pt; */
    width: 100%;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.am_start_buttons li:hover {
    background-color: #616b6b;
    cursor: pointer;
}

.am_start_buttons li a {
    color: #000000;
    text-decoration: none;
    display: block;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 72px;
    height: 20px;
}

.lds-ellipsis div {
    position: absolute;
    top: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}