.navbar-radiobox {
}

.bg-grad {
  position:relative;
  z-index:0;
  background:linear-gradient(#004060 20%, #001040 80%);
}


#rfout1_csp {
  position:relative;
  z-index:1;
}
.form-bg-rfout1-csp {
  background:#508050;
}
select#rfout1_csp_s[disabled] {
  background:#707070;
}

#rfout2_csp {
  position:relative;
  z-index:1;
}
.form-bg-rfout2-csp {
  background:#508050;
}
select#rfout2_csp_s[disabled] {
  background:#707070;
}

#rbled_csp {
  position:relative;
  z-index:1;
}
.form-bg-rbled-csp {
  background:#508050;
}
select#rbled_csp_s[disabled] {
  background:#707070;
}

#rx_car_osc_qrg {
  position:relative;
  z-index:1;
}
.form-bg-rx-car-osc-qrg {
  background:#0040c0;
}

#rx_muxin_src {
  position:relative;
  z-index:1;
}
.form-bg-rx-muxin-src {
  background:#707040;
}

#rx_modtyp {
  position:relative;
  z-index:1;
}
.form-bg-rx-modtyp {
  background:#707040;
}
select#rx_modtyp_s[disabled] {
  background:#707070;
}

#rx_muxin_gain {
  position:relative;
  z-index:1;
}
.form-bg-rx-muxin-gain {
  background:#805810;
}
input#rx_muxin_gain_f[disabled] {
  background:#707070;
}

#tx_car_osc_qrg {
  position:relative;
  z-index:1;
}
.form-bg-tx-car-osc-qrg {
  background:#0040c0;
}

#tx_amp_rf_gain {
  position:relative;
  z-index:1;
}
.form-bg-tx-amp-rf-gain {
  background:#602000;
}

#tx_modsrc {
  position:relative;
  z-index:1;
}
.form-bg-tx-modsrc {
  background:#707040;
}

#tx_modtyp {
  position:relative;
  z-index:1;
}
.form-bg-tx-modtyp {
  background:#707040;
}
select#tx_modtyp_s[disabled] {
  background:#707070;
}

#tx_mod_osc_qrg {
  position:relative;
  z-index:1;
}
.form-bg-tx-mod-osc-qrg {
  background:#0040c0;
}
input#tx_mod_osc_qrg_f[disabled] {
  background:#707070;
}

#tx_mod_osc_mag {
  position:relative;
  z-index:1;
}
.form-bg-tx-mod-osc-mag {
  background:#602000;
}
input#tx_mod_osc_mag_f[disabled] {
  background:#707070;
}

#tx_muxin_gain {
  position:relative;
  z-index:1;
}
.form-bg-tx-muxin-gain {
  background:#805810;
}
input#tx_muxin_gain_f[disabled] {
  background:#707070;
}


.table-toolbox {
  border:1px solid;
  margin-left:15px;
}

.table-toolbox td {
  //width:400px;
}

.table-header {
  font-size:200%;
  padding-left:10px;
  padding-bottom:15px;
}


#RB_RUN, #RB_RUN:hover {
  color: #31b44b;
}

#RB_STOP, #RB_STOP:hover {
  display: none;
  color: #ee3739;
}


.qrg_table {
	display:inline-block;
	padding:15px;
	font-size:225%;
	text-align:center;
	border:3px inset;
}
.qrg_col01 {
	width:10px;
}
.qrg_col02 {
    width:60px;
}
.qrg_col03 {
    width:40px;
}
.qrg_col04 {
    width:50px;
}
.qrg_col05 {
    width:50px;
}
.qrg_col06 {
    width:5px;
}
.qrg_col07 {
    width:50px;
}
.qrg_col08 {
    width:50px;
}
.qrg_col09 {
    width:50px;
}
.qrg_col10 {
    width:5px;
}
.qrg_col11 {
    width:50px;
}
.qrg_col12 {
    width:50px;
}
.qrg_col13 {
    width:50px;
}
.qrg_col14 {
    width:45px;
}
.qrg_col15 {
    width:55px;
}
.qrg_col16 {
    width:55px;
}
.qrg_col17 {
    width:55px;
}
.qrg_col18 {
    width:20px;
}

.qrg_tx {
	font-size:80%;
    color:#ff6000;
}
.qrg_rx {
    font-size:80%;
    color:#00e000;
}

.qrg_no {
	color:#ff6000;
}
.qrg_yes {
    color:#00e000;
}

.form-bg-qrg {
    background:#4080c0;
}
.qrg_display {
    height:100px;
    font-size:50px;
    text-alignment:center;
}

.qrg_entry_but {
	width: 50px;
}
