html,
body {
    width: 100%;
    height: 100%;
}

body {
    color: #cccccc;
    overflow: auto;
    padding-right: 0 !important;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button:focus,
button:active {
    outline: 0 !important;
    -webkit-appearance: none !important;
}

.full-content {
    /*min-width: 1024px;*/
    margin: 0 auto;
    position: relative;
}

.container-fluid {
    margin-top: 20px;
}

.container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
    float: right;
}

.navbar-nav li {
    width: 131px;
    text-align: center;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 30px;
    border-left: 1px solid #999;
}

.navbar-inverse .navbar-nav > li > a {
    color: #cdcccc;
    outline: none;
}

.nav > li > a:hover {
    background-color: #444 !important;
    color: #E5D5D5;
}

.navbar {
    border-radius: 0px;
    background-color: #343433;
    background-image: linear-gradient(to bottom, #343433 0, #343433 100%);
    border: 1px solid #999;
    min-height: 42px;
    border-left: 1px solid #999;
}

.back-btn {
    height: 22px;
    float: left;
    margin: -6px 0px 0px 11px;
}

.logo {
    margin: 5px 0px 0px 15px;
    float: left;
}

.navbar-collapse collapse in {
    width: 100%;
    overflow: hidden;
}

.navbar-brand {
    height: 40px;
}







.left-content-vp {
    float: left;
    margin-right: 120px;
}

.right-content-vp {
    float: right;
    margin-left: -120px;
}

.top-vp {
    width: 100%;
    font-size: 16pt; 
}

.notice-vp {
    width: 850px;
    margin: 0px auto;
    margin-top: 5px;
    text-align: center;
    font-size: 12pt; 
}

#vp-control{
    margin: 0px;
    padding: 0px;
}

.vp-buttons {
    display: inline-block;
    text-align: center;
    border: 1px solid;
    border-color: #cccccc;;
    background-color: #47b2d1;
    color: #000000;
}

.vp-buttons:hover {
    background-color: #69d4d1;
    cursor: pointer;
}

.vp-buttons a {
    color: #000000;
    text-decoration: none;
}

.vp-button-big {
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16pt;
    padding: 6px 20px 6px 20px;
}

.vp-button-small {
    margin-top: 4px;
    font-size: 14pt;
    padding: 1px 15px 1px 15px;
}

#vp-go-to-vp {
    margin-top: 25px;
}

.vp-text-input {
    outline: none;
    border: 1px solid;
    border-color: #cccccc;;
    background-color: #333333;
    font-size: 14pt;
}

#vp-instructions {
    margin: 0 auto;
    margin-top: 15px;
    width: 700px;
    text-align: center;
}

#vp-instructions-header {
    font-size: 14pt;
}

#vp-instructions-body {
    font-size: 12pt;
}

#vp-identification {
    margin: 0 auto;
    margin-top: 15px;
    width: 700px;
    text-align: center;
}

#vp-identification-header {
    font-size: 14pt;
    margin-top: -10px;
}

#vp-identification-body {
    font-size: 12pt;
}

#vp-identification-field {
    display: inline-block;
    clear: both;
    margin-top: 10px;
}




.color-dark-blue {
    color: #48b3d2;
}

.color-red {
    color: #e30108;
}

.color-green {
    color: #0ba405;
}

.color-black {
    color: #000000;
}




.top-line {
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #b0aeae;
    padding-top: 15px;
}

.list-vp > ul {
    padding-left: 10px;
}

.list-vp > ul > li {
    line-height: 1.2;
    list-style-type: none;
}

.list-vp > ul > li:before {
    content: "- ";
}

.list-vp > ul > li > a {
    text-decoration: none;
}


#header {
    background-color: black;
    color: #CCC;
    text-align: center;
    padding: 6px;
    overflow: hidden;
    height: 30px;
    width: 100%;
    white-space: nowrap;
}