/*
 * HAMLAB specific features, mostly GPIO on I2C
 *
 * pca9555 I2C GPIO extender interrupt is connected
 * to MIO[10] used as GPIO, 0x2 specifies trigger mode:
 * 2 = high-to-low edge triggered
*/

/include/ "miso2gpio.dtsi"

&i2c0 {
	pca9555: pca9555@20 {	
		compatible = "nxp,pca9555";
		interrupt-parent = <&gpio0>;
		interrupts = <11 0x2>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-controller;
		#interrupt-cells = <2>;
		reg = <0x20>;
	};	
};
