/*
 * define memory for DMA pool
 */

/ {
	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;
		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x1000000>;
			alignment = <0x2000>;
			linux,cma-default;
		};
		labuf_reserverd: labuf@a000000 {
			/*compatible = "redpitaya,rprx-memory";*/
			reg = <0xa000000 0x1000000>;
		};
		osc0buf_reserverd: osc0buf@a000000 {
			/*compatible = "redpitaya,rprx-memory";*/
			reg = <0xb000000 0x800000>;
		};
		osc1buf_reserverd: osc1buf@a000000 {
			/*compatible = "redpitaya,rprx-memory";*/
			reg = <0xb800000 0x800000>;
		};
	};
};
