/dts-v1/;
/plugin/;
/{		
	fragment@70 {
		target-path = "/amba/i2c\@e0004000";
		__overlay__ {
			i2c-mux@70 {
				compatible = "nxp,pca9547";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x70>;
				status="okay";
				i2c@0 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <0>;
				};
				i2c@1 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <1>;
				};
				i2c@2 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <2>;
				};
				i2c@3 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <3>;
				};
				i2c@4 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <4>;
				};
				i2c@5 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <5>;
				};
				i2c@6 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <6>;
				};
				i2c@7 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <7>;
					hamlab_extension_gpio_expander: pca9555@21 {	
						compatible = "nxp,pca9555";
						reg = <0x21>;
						gpio-controller;
						#gpio-cells = <2>;
//						interrupt-parent = <&gpio0>;
//						interrupts = <11 0x2>;
//						interrupt-controller;
//						#interrupt-cells = <2>;
			};
				};
			};
		};
	};
};
