#
# $Id: red_pitaya.ucf 961 2014-01-21 11:40:39Z matej.oblak $
#
# @brief Red Pitaya location constraints.
#
# @Author Matej Oblak
#
# (c) Red Pitaya  http://www.redpitaya.com
#


############################################################################
# Clock constraints                                                        #
############################################################################

NET "adc_clk_p_i" TNM_NET = "adc_clk";
TIMESPEC TS_adc_clk = PERIOD "adc_clk" 125 MHz;

#TIMEGRP adc_dat_pads = PADS(adc_dat_*_i[*])   ;
OFFSET = IN 3400 ps VALID 8000 ps BEFORE "adc_clk_p_i" ;


NET "i_analog/dac_clk" TNM_NET = "dac_clk";

TIMESPEC "TS_false_adc2dac_clk" = FROM "adc_clk" TO "dac_clk" TIG;


############################################################################
# IO constraints                                                           #
############################################################################

### ADC
#NET "adc_dat_a_i[0]"  LOC = V17 | IOSTANDARD = LVCMOS18 | SLEW = FAST | PULLDOWN;
#NET "adc_dat_a_i[1]"  LOC = U17 | IOSTANDARD = LVCMOS18 | SLEW = FAST | PULLDOWN;
NET "adc_dat_a_i[2]"  LOC = Y17 | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET "adc_dat_a_i[3]"  LOC = W16 | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET "adc_dat_a_i[4]"  LOC = Y16 | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET "adc_dat_a_i[5]"  LOC = W15 | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET "adc_dat_a_i[6]"  LOC = W14 | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET "adc_dat_a_i[7]"  LOC = Y14 | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET "adc_dat_a_i[8]"  LOC = W13 | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET "adc_dat_a_i[9]"  LOC = V12 | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET "adc_dat_a_i[10]" LOC = V13 | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET "adc_dat_a_i[11]" LOC = T14 | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET "adc_dat_a_i[12]" LOC = T15 | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET "adc_dat_a_i[13]" LOC = V15 | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET "adc_dat_a_i[14]" LOC = T16 | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET "adc_dat_a_i[15]" LOC = V16 | IOSTANDARD = LVCMOS18 | SLEW = FAST;

#NET "adc_dat_b_i[0]"  LOC = T17 | IOSTANDARD = LVCMOS18 | SLEW = FAST | PULLDOWN;
#NET "adc_dat_b_i[1]"  LOC = R16 | IOSTANDARD = LVCMOS18 | SLEW = FAST | PULLDOWN;
NET "adc_dat_b_i[2]"  LOC = R18 | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET "adc_dat_b_i[3]"  LOC = P16 | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET "adc_dat_b_i[4]"  LOC = P18 | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET "adc_dat_b_i[5]"  LOC = N17 | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET "adc_dat_b_i[6]"  LOC = R19 | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET "adc_dat_b_i[7]"  LOC = T20 | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET "adc_dat_b_i[8]"  LOC = T19 | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET "adc_dat_b_i[9]"  LOC = U20 | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET "adc_dat_b_i[10]" LOC = V20 | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET "adc_dat_b_i[11]" LOC = W20 | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET "adc_dat_b_i[12]" LOC = W19 | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET "adc_dat_b_i[13]" LOC = Y19 | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET "adc_dat_b_i[14]" LOC = W18 | IOSTANDARD = LVCMOS18 | SLEW = FAST;
NET "adc_dat_b_i[15]" LOC = Y18 | IOSTANDARD = LVCMOS18 | SLEW = FAST;

NET "adc_clk_p_i" LOC = U18 | IOSTANDARD = DIFF_HSTL_I_18  | SLEW = FAST; 
NET "adc_clk_n_i" LOC = U19 | IOSTANDARD = DIFF_HSTL_I_18  | SLEW = FAST;

NET "adc_clk_o[0]" LOC = N20 | IOSTANDARD = LVCMOS18  | DRIVE = 8 | SLEW = FAST;
NET "adc_clk_o[1]" LOC = P20 | IOSTANDARD = LVCMOS18  | DRIVE = 8 | SLEW = FAST;

NET "adc_cdcs_o"   LOC = V18 | IOSTANDARD = LVCMOS18  | DRIVE = 8 | SLEW = FAST;



### DAC
NET "dac_dat_o[0]"  LOC = M19 | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = SLOW;
NET "dac_dat_o[1]"  LOC = M20 | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = SLOW;
NET "dac_dat_o[2]"  LOC = L19 | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = SLOW;
NET "dac_dat_o[3]"  LOC = L20 | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = SLOW;
NET "dac_dat_o[4]"  LOC = K19 | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = SLOW;
NET "dac_dat_o[5]"  LOC = J19 | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = SLOW;
NET "dac_dat_o[6]"  LOC = J20 | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = SLOW;
NET "dac_dat_o[7]"  LOC = H20 | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = SLOW;
NET "dac_dat_o[8]"  LOC = G19 | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = SLOW;
NET "dac_dat_o[9]"  LOC = G20 | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = SLOW;
NET "dac_dat_o[10]" LOC = F19 | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = SLOW;
NET "dac_dat_o[11]" LOC = F20 | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = SLOW;
NET "dac_dat_o[12]" LOC = D20 | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = SLOW;
NET "dac_dat_o[13]" LOC = D19 | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = SLOW;

NET "dac_wrt_o" LOC = M17 | IOSTANDARD = LVCMOS33  | DRIVE = 8 | SLEW = FAST;
NET "dac_sel_o" LOC = N16 | IOSTANDARD = LVCMOS33  | DRIVE = 8 | SLEW = FAST;
NET "dac_clk_o" LOC = M18 | IOSTANDARD = LVCMOS33  | DRIVE = 8 | SLEW = FAST;
NET "dac_rst_o" LOC = N15 | IOSTANDARD = LVCMOS33  | DRIVE = 8 | SLEW = FAST;



### PWM DAC
NET "dac_pwm_o[0]" LOC = T10 | IOSTANDARD = LVCMOS18  | DRIVE = 12 | SLEW = FAST;
NET "dac_pwm_o[1]" LOC = T11 | IOSTANDARD = LVCMOS18  | DRIVE = 12 | SLEW = FAST;  
NET "dac_pwm_o[2]" LOC = P15 | IOSTANDARD = LVCMOS18  | DRIVE = 12 | SLEW = FAST;
NET "dac_pwm_o[3]" LOC = U13 | IOSTANDARD = LVCMOS18  | DRIVE = 12 | SLEW = FAST;

### XADC
NET "vinp_i[0]" LOC = C20 | IOSTANDARD = LVCMOS33 ; #AD0P
NET "vinn_i[0]" LOC = B20 | IOSTANDARD = LVCMOS33 ; #AD0N
NET "vinp_i[1]" LOC = E17 | IOSTANDARD = LVCMOS33 ; #AD1P
NET "vinn_i[1]" LOC = D18 | IOSTANDARD = LVCMOS33 ; #AD1N
NET "vinp_i[2]" LOC = B19 | IOSTANDARD = LVCMOS33 ; #AD8P
NET "vinn_i[2]" LOC = A20 | IOSTANDARD = LVCMOS33 ; #AD8N
NET "vinp_i[3]" LOC = E18 | IOSTANDARD = LVCMOS33 ; #AD9P
NET "vinn_i[3]" LOC = E19 | IOSTANDARD = LVCMOS33 ; #AD9N
NET "vinp_i[4]" LOC = K9  | IOSTANDARD = LVCMOS33 ; #VP_0
NET "vinn_i[4]" LOC = L10 | IOSTANDARD = LVCMOS33 ; #VN_0


### Expansion connector
NET "exp_p_io[0]" LOC = G17 | IOSTANDARD = LVCMOS33  | DRIVE = 8 | SLEW = FAST | PULLDOWN;
NET "exp_n_io[0]" LOC = G18 | IOSTANDARD = LVCMOS33  | DRIVE = 8 | SLEW = FAST | PULLDOWN;
NET "exp_p_io[1]" LOC = H16 | IOSTANDARD = LVCMOS33  | DRIVE = 8 | SLEW = FAST;
NET "exp_n_io[1]" LOC = H17 | IOSTANDARD = LVCMOS33  | DRIVE = 8 | SLEW = FAST;
NET "exp_p_io[2]" LOC = J18 | IOSTANDARD = LVCMOS33  | DRIVE = 8 | SLEW = FAST;
NET "exp_n_io[2]" LOC = H18 | IOSTANDARD = LVCMOS33  | DRIVE = 8 | SLEW = FAST;
NET "exp_p_io[3]" LOC = K17 | IOSTANDARD = LVCMOS33  | DRIVE = 8 | SLEW = FAST;
NET "exp_n_io[3]" LOC = K18 | IOSTANDARD = LVCMOS33  | DRIVE = 8 | SLEW = FAST;
NET "exp_p_io[4]" LOC = L14 | IOSTANDARD = LVCMOS33  | DRIVE = 8 | SLEW = FAST;
NET "exp_n_io[4]" LOC = L15 | IOSTANDARD = LVCMOS33  | DRIVE = 8 | SLEW = FAST;
NET "exp_p_io[5]" LOC = L16 | IOSTANDARD = LVCMOS33  | DRIVE = 8 | SLEW = FAST;
NET "exp_n_io[5]" LOC = L17 | IOSTANDARD = LVCMOS33  | DRIVE = 8 | SLEW = FAST;
NET "exp_p_io[6]" LOC = K16 | IOSTANDARD = LVCMOS33  | DRIVE = 8 | SLEW = FAST;
NET "exp_n_io[6]" LOC = J16 | IOSTANDARD = LVCMOS33  | DRIVE = 8 | SLEW = FAST;
NET "exp_p_io[7]" LOC = M14 | IOSTANDARD = LVCMOS33  | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "exp_n_io[7]" LOC = M15 | IOSTANDARD = LVCMOS33  | DRIVE = 8 | SLEW = FAST | PULLUP;



### SATA connector
  # if you use as standard pin
  #NET "daisy_p_io[0]" LOC = T12 | IOSTANDARD = LVCMOS18 | DRIVE = 8 | SLEW = FAST;
  #NET "daisy_n_io[0]" LOC = U12 | IOSTANDARD = LVCMOS18 | DRIVE = 8 | SLEW = FAST;
  #NET "daisy_p_io[1]" LOC = U14 | IOSTANDARD = LVCMOS18 | DRIVE = 8 | SLEW = FAST;
  #NET "daisy_n_io[1]" LOC = U15 | IOSTANDARD = LVCMOS18 | DRIVE = 8 | SLEW = FAST;
  #NET "daisy_p_io[2]" LOC = P14 | IOSTANDARD = LVCMOS18 | DRIVE = 8 | SLEW = FAST;
  #NET "daisy_n_io[2]" LOC = R14 | IOSTANDARD = LVCMOS18 | DRIVE = 8 | SLEW = FAST;
  #NET "daisy_p_io[3]" LOC = N18 | IOSTANDARD = LVCMOS18 | DRIVE = 8 | SLEW = FAST;
  #NET "daisy_n_io[3]" LOC = P19 | IOSTANDARD = LVCMOS18 | DRIVE = 8 | SLEW = FAST;

# if you use as differential
NET "daisy_p_o[0]" LOC = T12 ;     #IOSTANDARD = DIFF_SSTL18_I
NET "daisy_n_o[0]" LOC = U12 ;
NET "daisy_p_o[1]" LOC = U14 ;
NET "daisy_n_o[1]" LOC = U15 ;
NET "daisy_p_i[0]" LOC = P14 ;
NET "daisy_n_i[0]" LOC = R14 ;
NET "daisy_p_i[1]" LOC = N18 ;
NET "daisy_n_i[1]" LOC = P19 ;

NET "i_daisy/txs_clk" TNM_NET = "tx_clk";
TIMESPEC TS_tx_clk = PERIOD "tx_clk" 250 MHz;

NET "i_daisy/rxs_clk" TNM_NET = "rx_clk";
TIMESPEC TS_rx_clk = PERIOD "rx_clk" 250 MHz;






### LED
NET "led_o[0]" LOC = F16 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "led_o[1]" LOC = F17 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "led_o[2]" LOC = G15 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "led_o[3]" LOC = H15 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "led_o[4]" LOC = K14 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "led_o[5]" LOC = G14 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "led_o[6]" LOC = J15 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "led_o[7]" LOC = J14 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;









