html,
body {
    width: 100%;
    height: 100%;
}

body {
    color: #cdcccc;
    overflow: auto;
    padding-right: 0 !important;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clear:before,
.clear:after {
    content: "";
    display: table;
}

.clear:after {
    clear: both;
}

.modal {}

input,
#info div,
#info span,
.selectable {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

input {}

button:focus,
button:active,
select:focus,
input:focus,
option:focus {
    outline: 0 !important;
    -webkit-appearance: none !important;
}

area:hover {
    cursor: pointer;
}

.full-content {
    /*min-width: 1024px;*/
    margin: 0 auto;
    position: relative;
}

.container-fluid {
    margin-top: 20px;
}

.container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-collapse {
    float: right;
}

.navbar-nav li {
    width: 131px;
    text-align: center;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 30px;
    border-left: 1px solid #999;
}

.navbar-inverse .navbar-nav>li>a {
    color: #cdcccc;
    outline: none;
}

.nav>li>a:hover {
    background-color: #444 !important;
    color: #E5D5D5;
}

.navbar {
    border-radius: 0px;
    background-color: #343433;
    background-image: linear-gradient(to bottom, #343433 0, #343433 100%);
    border: 1px solid #999;
    min-height: 42px;
    border-left: 1px solid #999;
}

.back-btn {
    height: 22px;
    float: left;
    margin: -6px 0px 0px 11px;
}

.logo {
    margin: 5px 0px 0px 15px;
    float: left;
}

.navbar-collapse collapse in {
    width: 100%;
    overflow: hidden;
}

.navbar-brand {
    height: 40px;
}

.close {
    color: #CAB7B7;
    opacity: 1;
    text-shadow: 0 0 0 !important;
}

.modal-content {
    background-color: #343433;
    border: 1px solid #999;
    border-radius: 0px;
    outline: 0;
}

.dialog {
    margin-right: 0px;
    display: none;
}

.close:hover,
.close:focus {
    color: #fff !important;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
}

.btn {
    background-image: none;
    border: 0 solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    line-height: 1.42857143;
    border-radius: 0;
    width: 100%;
    background-color: transparent;
    text-shadow: 0px 0px;
    /*  box-shadow: 0 0 0 1px #777; */
    color: #cdcccc !important;
}

.btn:hover,
btn:active {
    color: #fff !important;
    background-image: none;
}

.btn.focus {
    color: #777;
    border: 0px solid transparent;
}

.btn:active,
.btn.active {
    background-image: none;
    background-color: #999;
    color: #111 !important;
}

#header {
    background-color: black;
    color: #CCC;
    text-align: center;
    padding: 6px;
    overflow: hidden;
    height: 30px;
    width: 100%;
    white-space: nowrap;
}

input {
    -webkit-user-modify: read-write-plaintext-only;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    list-style: none;
    height: 30px;
    border: 1px solid;
    border-radius: 3px;
    color: #C0C0C0;
    background-color: rgba(0, 0, 0, 0.1);
}

select {
    -webkit-user-modify: read-write-plaintext-only;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    list-style: none;
    height: 30px;
    border: 1px solid;
    color: #C0C0C0;
    background-color: rgba(0, 0, 0, 0.1);
}

select.protocol {
    width: 100px;
    margin-left: 10px;
}

select option {
    margin: 40px;
    background: #eee5;
    color: #343433;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

input span {
    color: #337ab7;
}

input.ipaddress {
    width: 100%;
}

 ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: lightblue;
}

 :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: lightblue;
    opacity: 1;
}

 ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: lightblue;
    opacity: 1;
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: lightblue;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: lightblue;
}

 ::placeholder {
    /* Most modern browsers support this now. */
    color: lightblue;
}

.example_button {
    margin-top: 20px;
    width: 131px;
    text-align: center;
    list-style: none;
    height: 40px;
    padding-top: 5px;
    border: 1px solid;
}

.example_button:hover {
    background: gray;
    cursor: pointer;
}

.example_button span {
    color: #337ab7;
}

.run_buttons2 {
    display: inline-block;
    text-align: center;
    border: #888 1px solid;
    border-radius: 3px;
    background-color: #cdcccc;
    color: #000000;
    margin: 0 auto;
    font-size: 16pt;
}

.run_buttons2:hover {
    background-color: #616b6b;
    cursor: pointer;
}

.run_buttons2 a {
    color: #000000;
    text-decoration: none;
}

.run_buttons {
    display: inline-block;
    text-align: center;
    border: 1px solid;
    border-color: #cccccc;
    background-color: #47b2d1;
    color: #000000;
    margin: 0 auto;
    font-size: 16pt;
}

.run_buttons:hover {
    background-color: #69d4d1;
    cursor: pointer;
}

.run_buttons a {
    color: #000000;
    text-decoration: none;
}

.image_button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.files_buttons {
    display: inline-block;
    text-align: center;
    border: 1px solid;
    border-color: gray;
    background-color: rgba(0, 0, 0, 0.1);
    color: gray;
    margin: 0 auto;
    font-size: 12pt;
    padding-top: 3px;
}

.files_buttons:hover {
    background-color: gray;
    cursor: pointer;
}

.files_buttons a {
    color: lightgrey;
    text-decoration: none;
}

.container_inline {
    width: 100%;
}

.container_inline div {
    display: inline-block;
    margin-top: 20px;
}

.container_inline .ip {
    width: 150px;
    flex-grow: 0;
}


/* Customize the label (the container) */

.container-radio {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
}


/* Hide the browser's default radio button */

.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom radio button */

.checkmark-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}


/*  On mouse-over, add a grey background color */

.container-radio:hover input~.checkmark-radio {
    background-color: #ccc;
}


/* When the radio button is checked, add a blue background */

.container-radio input:checked~.checkmark-radio {
    background-color: #2196F3;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark-radio:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.container-radio input:checked~.checkmark-radio:after {
    display: block;
}


/* Style the indicator (dot/circle) */

.container-radio .checkmark-radio:after {
    top: 6px;
    left: 6px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
}

.panels {
    min-width: 400px;
    height: 80vh;
}

.configcell {
    width: 50%;
    height: 80px;
    padding: 2%;
}

.configcell_long {
    width: 100%;
    height: 80px;
    padding: 2%;
}

.filecell {
    width: 50%;
    height: 70px;
    padding: 5px;
    min-width: 400px;
    max-width: 600px;
}

.filecell div {
    width: 100%;
    height: 100%; 
    border: 1px solid rgba(153, 153, 153, 0.295); 
    padding: 4px;
}

.filecell div div {
    width:100%;
    height: 50%;
    padding: 0px;
    border: none;
}

.filecell span {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.filecell item {
    width:60px;
    height: 100%;
    opacity: 0.5;
}

.filecell item subitem {
    border: 1px solid rgba(153, 153, 153, 0.295); 
    padding: 1px;
    height: 100%;
}

.filecell item2 {
    width:150px;
    height: 100%;
    padding: 1px;
    opacity: 0.5;
}

.filecell item4 {
    width: 220px; 
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
}

.filecell li {
    width: 30%;
    height: 22px;
}

.filecell li a {
    display: block;
    font-size: 11pt;
    line-height: 1.4;
}

.filecell label {
    width: 100%;
    text-align: center;
}

.flipswitch_div {
    width: 100px;
    height: 30px;
}

.flipswitch {
    position: relative;
    background: #2b2b2a;
    width: 100%;
    height: 100%;
    -webkit-appearance: initial;
    border-radius: 3px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    font-size: 11px;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #999;
}

.flipswitch:after {
    margin-top: 1%;
    display: block;
    line-height: 24px;
    width: 45%;
    height: 88%;
    background: #cdcccc;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.3s ease-in 0s;
    color: black;
    border: #888 1px solid;
    border-radius: 3px;
}

.flipswitch:after {
    margin-left: 2%;
    content: attr(data-off);
}

.flipswitch:checked:after {
    margin-left:  53%;
    content: attr(data-on);
}