body {
    color: #cdcccc;
    overflow: auto;
    padding-right: 0 !important;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clear:before,
.clear:after {
    content: "";
    display: table;
}

.clear:after {
    clear: both;
}

.calib-button {
    display: inline-block;
    border: 1px solid gray;
    margin: 0 29px;
}

.modal {}

input,
#info div,
#info span,
.selectable {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

input {
    -webkit-user-modify: read-write-plaintext-only;
    -webkit-tap-highlight-color: transparent;
}

.input-number-box {
    display: inline-block;
    position: relative;
}

.input-number {
    line-height: 35px;
    height: 35px;
    padding-right: 25px;
}

.input-number-more,
.input-number-less {
    position: absolute;
    right: 8px;
    border-width: 7px;
    border-style: solid;
    cursor: pointer;
}

.input-number-more {
    top: 0px;
    border-color: transparent transparent gray transparent;
}

.input-number-less {
    bottom: 0px;
    border-color: gray transparent transparent transparent;
}

#myModal {
    text-align: center;
}

#triginfo {
    position: absolute;
    width: 100%;
    text-align: center;
    padding-right: 222px;
}

area:hover {
    cursor: pointer;
}

.full-content {
    /*min-width: 1024px;*/
    /*margin: 0 auto;*/
    position: relative;
    width: 100%;
}

.container-fluid {
    margin-top: 10px;
}

.container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-collapse {
    float: right;
}

.navbar-nav li {
    width: 131px;
    text-align: center;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 30px;
    border-left: 1px solid #999;
}

.navbar-inverse .navbar-nav > li > a {
    color: #cdcccc;
    outline: none;
}

.nav > li > a:hover {
    background-color: #444 !important;
    color: #E5D5D5;
}

#LCR_HOLD,
#LCR_HOLD:hover {
    color: #0066FF;
}

#LCR_START,
#LCR_START:hover {
    display: none;
    color: #31b44b;
}

#LCR_LOG_STOP,
#LCR_LOG_STOP:hover {
    color: #d43f3a;
}

#cont {
	margin-left:250px;
	margin-right:250px;
	padding-top:10px;
	float:left;
}

@media only screen and (max-width: 1400px) {
    #cont {
		margin-left:150px;
		margin-right:150px;
	}
}

@media only screen and (max-width: 1200px) {
    #cont {
		margin-left:100px;
		margin-right:100px;
	}
}

@media only screen and (max-width: 1100px) {
    #cont {
		margin-left:50px;
		margin-right:50px;
	}
}

.navbar {
    border-radius: 0px;
    background-color: #343433;
    background-image: linear-gradient(to bottom, #343433 0, #343433 100%);
    border: 1px solid #999;
    min-height: 42px;
    min-width: 450px;
    border-left: 1px solid #999;
}

.back-btn {
    height: 22px;
    float: left;
    margin: -6px 0px 0px 11px;
}

.logo {
    margin: 5px 0px 0px 15px;
    float: left;
}

.navbar-collapse collapse in {
    width: 50%;
    overflow: hidden;
}

.navbar-brand {
    height: 40px;
}

.close {
    color: #CAB7B7;
    opacity: 1;
    text-shadow: 0 0 0 !important;
}

.modal-content {
    background-color: #343433;
    border: 1px solid #999;
    border-radius: 0px;
    outline: 0;
}

#main {
    margin-right: 188px;
}

#buffer {
    border: 1px solid #999;
    position: relative;
    height: 14px;
    overflow: hidden;
}

.buf-main-line {
    margin: 5px 1px 5px 1px;
    background-color: #cdcccc;
    height: 2px;
}

.buf-red-line-holder {
    height: 12px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    position: absolute;
    top: 0;
    left: 100px;
}

.buf-red-line {
    width: 100px;
    height: 2px;
    background-color: #ce3234;
    margin-top: 5px;
    display: none;
}

#buf_time_offset {
    height: 12px;
    width: 8px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #75cede;
    display: none;
}

.col-cxs-8 {
    float: right;
}

.col-xs-6.option-content {
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    text-align: center;
    line-height: 31px;
    float: left;
    font-size: 14px;
    padding: 0px;
}

.col-xs-12.option-content {
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    text-align: center;
    line-height: 31px;
    float: left;
    font-size: 14px;
    padding: 0px;
}

.col-xs-2 {
    padding-%right: 15px;
}

.data_wrapper {
    float: left;
    width: 60%;
    height: 630px;
    min-width: 455px;
    padding-right: 5px;
    background-color: transparent;
}

#data_displ {
    width: 100%;
    height: 265px;
    padding-bottom: 5px;
    background-color: transparent;
}

#display {
    width: 60%;
    height: 100%;
    float: left;
    padding-left: 5px;
}

#prim_displ {
    width: 100%;
    height: 50%;
    background-color: #dcdcdc;
    float: left;
    padding: 10px 10px 10px 10px;
    font-size: 50px;
}

#sec_displ {
    width: 100%;
    height: 50%;
    background-color: #dcdcdc;
    float: left;
    padding: 40px 10px 10px 10px;
    font-size: 38px;
}

#status_data {
    width: 20%;
    height: 100%;
    background-color: #dcdcdc;
    float: left;
    padding: 2px 2px 2px 2px;
    color: #000000;
}

.displ_text {
    text-align: right;
}

.meas_data {
    width: 100%;
    margin-top: 6px;
}

#meas_displ {
    padding: 5px 5px 5px 5px;
    width: 40%;
    min-width: 180px;
    height: 260px;
    background-color: #cccccc;
    float: left;
}

#table_displ {
    width: 100%;
    height: 348px;
    background-color: #cccccc;
    overflow: scroll;
    color: #000000;
}

#table_cmd {
    width: 100%;
    height: 45px;
    margin-top: 5px;
    float: left;
}

#btn_c_meas {
    width: 25%;
    float: left;
}

#btn_export {
    float: left;
    width: 30%;
}

#btn_clear,
#btn_clear_all {
    float: right;
    width: 18%;
}

th {
    background-color: #d43f3a;
}

tr:nth-child(odd) {
    background-color: #F2F2F2;
}

tr:nth-child(even) {
    background-color: #D7D7D7;
}

.global_container {
    height: 653px;
    width: 40%;
    border: 1px solid #999;
    min-width: 328px;
    float: left;
}

@media (min-width: 768px) {
    .navbar-right .dropdown-menu {
        left: auto;
        right: 0;
    }
    .navbar-right .dropdown-menu-left {
        left: 0;
        right: auto;
    }
}

.right-menu-option {
    margin: 1px 1px 2px 1px;
    height: 31px;
}

.right-menu-option:hover {
    background-color: #444;
    cursor: pointer;
    margin: 1px 1px 1px 1px;
    height: 32px;
}

.dialog {
    margin-right: 0px;
    display: none;
}

#info {
    margin-top: 10px;
    min-height: 100px;
}

.left-info {
    width: 160px;
    float: left;
}

.info-title {
    float: left;
    width: 46px;
}

.info-value {
    float: left;
    width: 90px;
}

.info-title > div,
.info-value > div {
    display: none;
}

#info-meas {
    width: 195px;
    float: left;
    max-height: 82px;
    overflow: hidden;
}


/* LCR specific attr */

.menu_wrapper {
    float: left;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 1px;
}

.menu_header {
    padding-top: 5px;
}

.separator {
    width: 100%;
}

.form-control {
    color: #fff;
    background-color: #343433;
    background-image: none;
    border: 1px solid #cccccc;
    box-shadow: none;
    border-radius: 0px;
    height: 33px;
    cursor: pointer;
}

.form-control:hover {
    color: #fff;
    background-color: #444;
}

.close:hover,
.close:focus {
    color: #fff !important;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
}

.col-info {
    font-size: 10px;
    margin: -11px 0px -25px 0px;
    padding: 0px;
    float: left;
    color: #cdcccc;
    height: 10px;
}

.col-info-activ {
    font-size: 10px;
    margin: -8px 0px -2px -11px;
    padding: 0px;
    float: left;
    color: #cdcccc;
    height: 10px;
    text-shadow: 0px 1px 1px #111;
}

.calib-info {
    font-size: 20px;
    margin-left: 115px;
    margin-top: -30px;
    padding: 0px;
    float: left;
    color: #cdcccc;
    height: 10px;
    text-shadow: 0px 1px 1px #111;
}

.btn {
    background-image: none;
    border: 0 solid transparent;
    white-space: nowrap;
    line-height: 1.42857143;
    border-radius: 0;
    border: 1px solid;
    float: right;
    width: 40px;
    text-shadow: 0px 0px;
    display: inline-block;
    /*  box-shadow: 0 0 0 1px #777; */
    background-color: #cdcccc;
    color: #000000;
}

.btn-danger:focus {
    background-color: inherit !important;
}

.btn:hover {
    background-color: #cc6666;
    background-image: none;
}

input.bt_check + label {
    background-image: none;
    border: 0 solid transparent;
    white-space: nowrap;
    line-height: 1.42857143;
    border-radius: 0;
    border: 1px solid;
    float: right;
    width: 40px;
    text-shadow: 0px 0px;
    display: inline-block;
    /*  box-shadow: 0 0 0 1px #777; */
    background-color: #cdcccc;
    color: #000000;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    padding: 6px 12px;
    font-size: 14px;
}

input.bt_check:checked + label {
    background-color: #d43f3a;
    border: 1px solid #000000;
    color: #ffffff;
}

.math-radio-btn:disabled,
.math-radio-btn.disabled {
    background-image: none;
    background-color: transparent;
    color: #cdcccc !important;
}

#meas_list {
    margin-top: 10px;
    /* margin-bottom: 2px; */
    min-height: 30px;
    max-height: 128px;
    overflow: hidden;
}

.meas-item {
    margin: 0px 1px 1px 1px;
    height: 31px;
    border: 1px solid #999;
    cursor: pointer;
}

.meas-item:hover {
    background-color: #444;
    color: #fff;
}

.setfield {
    color: #999;
    background-color: transparent;
    border: 0px;
    width: 50%;
    text-align: center;
    height: 31px;
}

.close-dialog {
    cursor: pointer;
}

.close-dialog img {
    height: 19px;
    float: left;
    margin: 7px -19px 0px 7px;
    cursor: pointer;
}

#meas:hover,
#cursor:hover {
    color: #fff;
}

#joystick {
    position: absolute;
    margin-left: 8px;
    right: 10px;
    bottom: 10px;
    width: 150px;
    height: auto;
}

#jtk_btns {
    height: auto;
    border: 0 none;
    width: 150px;
}

#jtk_fine {
    height: 64px;
    position: absolute;
    margin: 44px 0px 0px 42px;
    cursor: pointer;
}

#graphs_holder {
    margin-top: 12px;
    padding-top: 8px;
    overflow: hidden;
}

#graphs {
    position: relative;
    overflow: hidden;
}

#graph_grid {
    border: 1px solid #5d5d5c;
    margin-bottom: 2px;
}

.plot {
    position: absolute;
    top: 0px;
    left: 0px;
}

.y-offset-arrow,
#time_offset_arrow {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: -8px;
    display: none;
    z-index: 10;
}

#time_offset_arrow {
    margin-top: 0;
    display: inline;
}

#osc_trig_edge_img {
    margin: -2px 0 0;
}

.hline {
    height: 2px;
    border-top: 2px dashed #ccc;
    position: absolute;
    left: 1px;
    right: 1px;
    top: 0;
    opacity: 0.8;
    display: none;
    z-index: 9;
}

.vline {
    width: 2px;
    border-right: 2px dashed #ccc;
    position: absolute;
    top: 1px;
    bottom: 9px;
    left: 0;
    opacity: 0.8;
    display: none;
    z-index: 9;
}

#trigger_level.hline {
    border-top-style: solid;
}

.harrow {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -7px;
    display: none;
    z-index: 12;
}

.varrow {
    position: absolute;
    left: 0;
    bottom: 8px;
    margin-left: -7px;
    margin-right: -7px;
    display: none;
    z-index: 12;
}

.cur_info {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 10px;
    color: #fff;
    background-color: #000;
    line-height: 12px;
    padding: 1px 3px;
    white-space: nowrap;
    display: none;
    z-index: 14;
}

#kostyl_footer {
    position: absolute;
    bottom: -4px;
    width: 50%;
    background: #343433;
    height: 10px;
    z-index: 15;
}

#cur_x1_info.cur_info,
#cur_x2_info.cur_info {
    top: 2px;
    margin-left: 3px;
}

#cur_y1_info.cur_info,
#cur_y2_info.cur_info {
    left: 2px;
    margin-top: -15px;
}

#cur_x_diff {
    font-family: "Glyphicons Halflings";
    font-size: 11px;
    line-height: 1;
    border-bottom: 2px solid #ccc;
    margin: 0 5px;
    width: 100px;
    height: 7px;
    position: absolute;
    left: 0;
    top: 40px;
    display: none;
    z-index: 13;
}

#cur_x_diff:before {
    content: "\e079";
    margin-left: -5px;
}

#cur_x_diff:after {
    content: "\e080";
    margin-right: -5px;
    float: right;
}

#cur_y_diff {
    font-family: "Glyphicons Halflings";
    font-size: 11px;
    border-right: 2px solid #ccc;
    height: 100px;
    width: 7px;
    position: absolute;
    left: 50px;
    top: 0;
    display: none;
    z-index: 13;
}

#cur_y_diff:before {
    content: "\e113";
    position: absolute;
    top: -5px;
    left: 1px;
    line-height: 1;
}

#cur_y_diff:after {
    content: "\e114";
    position: absolute;
    bottom: -5px;
    left: 0;
    line-height: 1;
}

#cur_y_diff_info.cur_info {
    left: 59px;
}

#cur_x_diff_info.cur_info {
    top: 30px;
}

#info_box {
    position: absolute;
    left: 15px;
    top: 8px;
    z-index: 15;
}

#header {
    background-color: black;
    color: #CCC;
    text-align: center;
    padding: 6px;
    overflow: hidden;
    height: 30px;
    width: 100%;
    white-space: nowrap;
}
