.net_settings_block {
    width: 35%;
    min-width: 400px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #cdccdd;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    min-height: 450px;
}

#eth0_block {
    margin-left: 10%;
}

#wlan0_block {}

.type_select {
    width: 250px;
    text-align: right;
    background-color: #444444;
}

.eht0_entries {
    width: 350px;
    min-width: 350px;
    margin-top: 50px;
}

.wlan0_entries {
    width: 350px;
    min-width: 350px;
    margin-top: 50px;
}

.inputs {
    background-color: #444444;
}

#eth0_inputs_labels {
    width: 175px;
    float: left;
}

#eth0_inputs_entry {
    width: 175px;
    float: left;
}

.eth0_apply {
    width: 100px;
    background-color: #555555;
    margin-top: 15px;
}

#wlan0_block_nodongle {
    max-width: 320px;
    color: #abac0c;
}

#wifi_list {
    text-align: left;
    width: 200px;
}

#separator_or {
    width: 200px;
}