@font-face {
    font-family: 'myriadpro';
    src: url('fonts/MyriadPro-Regular.otf'),
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    background: #000;
    color: #CCC;
    margin: 0;
    background-image: url('../assets/images/backgr-01.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

a {
    color: #CCC;
    text-decoration: none;
}

a:hover {
    color: #CCC;
    text-decoration: none;
}

a:visited {
    color: #CCC;
    text-decoration: none;
}

#header {
    background-color: black;
    color: #CCC;
    text-align: center;
    padding: 6px;
    overflow: hidden;
    height: 30px;
    width: 100%;
    white-space: nowrap;
}

#description {
    overflow: hidden;
    width: 80%;
    height: 30px;
    white-space: nowrap;
    margin-left: auto;
    display: inline-block;
    position: relative;
}

#description:after {
    content: "";
    pointer-events: none;
    position: absolute;
    width: 100px;
    height: 100%;
    top: 0;
    right: 0;
    background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

#footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    opacity: 1;
    background-color: black;
    color: #CCC;
    clear: both;
    text-align: right;
    padding: 6px;
}

#main-container {
    margin: 10px 20%;
    height: 90%;
}

.app-item {
    width: 200px;
    height: 240px;
    /*background-color: #F00;*/
    display: inline-block;
    margin: 7px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.app-item:hover {
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

.app-icon {
    max-width: 100%;
    max-height: 100%;
    width: 180px;
    height: 180px;
    margin: 10px;
}

.app-name {
    font-size:15px;
}

.paging {
    margin-bottom: 0px;
    padding: 5px;
}

.simplePagerNav {
    padding: 0px;
    position: fixed;
    text-align: center;
    bottom: 30px;
    width: 80%;
}

.simplePagerNav > li {
    list-style: none;
    display: inline-block;
}

.active-dot {
    margin: 5px;
    border-radius: 50%;
    width: 15px;
    height: auto;
    padding-top: 15px;
    background: #ccc;
}

.dot {
    margin: 5px;
    border-radius: 50%;
    width: 15px;
    height: auto;
    padding-top: 15px;
    background: #666;
}


/**** RESPONSIVE *****/

@media only screen and (max-width: 1024px) {
    #main-container {
        margin: 10px 15%;
    }
}

@media only screen and (max-width: 768px) {
    #main-container {
        margin: 10px 10%;
    }
}

@media only screen and (max-width: 512px) {
    #main-container {
        margin: 10px auto;
    }
}

@media only screen and (max-height: 1080px) {
    #main-container {
        height: 90%;
    }
}

@media only screen and (max-height: 768px) {
    #main-container {
        height: 85%;
    }
}

@media only screen and (max-height: 512px) {
    #main-container {
        height: 80%;
    }
}


/**** ANIMATIONS ****/

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.3);
}

#loader-desc {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 300px;
    color: #CCC;
    height: 100px;
    z-index: 1001;
    padding-top: 170px;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f00;
    -webkit-animation: spin 2s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ccc;
    -webkit-animation: spin 1.5s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
    -webkit-transform: translateX(0);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);
    /* IE 9 */
    transform: translateX(0);
    /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}


/* Loaded */

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);
    /* IE 9 */
    transform: translateX(-100%);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);
    /* IE 9 */
    transform: translateX(100%);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-desc {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
