 @font-face
{
font-family: 'myriadpro';
src: url('fonts/MyriadPro-Regular.otf'),

}

body {
  font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
  background: #fff;
  color: #000;
  margin: 0;
}

.pagewrapper .container {
max-width: none;
}
.pagewrapper .container {
max-width: none !important;
}

h3 {
  color: #d5273a;
  margin-top: 0;
}

.button {
  padding: 10px;
  background: #efefef;
  border: none;
  color: #000;
  display: block;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

.button.red {
  background: #d5273a;
  color: #fff;
}

.button.white {
  background: #fff;
  color: #000;
}

.button.inline {
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
}

.button.full-width {
  width: 100%;
}

.step {
	width: 150px;
}

.big_margin_padding {
	margin: 20px;
	padding: 20px;
	border: dotted 2px #668014;
}

.pagewrapper{
  max-width: 1200px;
  margin: 0px auto;
  margin-top: -20px;
  padding: 10px;
}

.list-group-item {
	background-color: #323232;
	font-family: sans-serif;
	color: blue;
}

a.list-group-item {
  color: silver;#555555;
}

a.list-group-item:hover:visited {
  color: black;
}

.list-group-item.more {
	font-size: 18px;
}



.list-group-item.btn {
	font-weight: bold;
}

.headerwrapper{
  background: #d5273a;
  height: 75px;
}

.headerwrapper img{
  height: 50px;
  margin-left: 115px;
  margin-top: 10px;
}

a, img {
  border:none;
  text-decoration:none;
}

.appdescredpitaya, .pagewrapper { clear: both; overflow: hidden;}

.appdescredpitaya {
  min-height: 131px;
  margin-bottom: 50px;
  padding: 20px;
  background: #eee;
}

.appicon {
  display: block;
  margin: 0 auto;
  width: 128px;
}

.bazaar-link {
  text-align: center;

  padding: 0 0 0 20px;

}

@media (min-width: 768px) {
  .appicon, .appdesc {
    display: inline-block;
    vertical-align: top;
  }

  .appicon {
    width: 15%;
    margin: 0 5% 0 0;
  }

  .appdesc {
    width: 70%;
    margin-right: 5%;
  }

  .run-button {
    text-align: right;
  }

  .run-button .button {
    padding-left: 60px;
    padding-right: 60px;
    display: inline-block;
    vertical-align: middle;
  }
}

.error_body{
box-sizing: border-box;
background-color: #DB5E5E;
color: rgb(0, 0, 0);
display: block;
font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
font-size: 18px;
height: 50px;
text-align: center;
line-height: 20px;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
position: relative;
}


.success_body{
box-sizing: border-box;
background-color: #8EE663;
color: rgb(0, 0, 0);
display: block;
font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
font-size: 18px;
height: 50px;
text-align: center;
line-height: 20px;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
position: relative;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 70;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-file input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.col-sm-4
{
	width: 160px;
}

.panel-body
{
	padding-top: 40px;
}

.mark_selection
{
	color: #E60C0C;
}

.mark_selection:hover
{
	color: #E60C0C;
}

.instruct_text{
	text-shadow: 2px 2px 8px #000;
	font-size: 29px;
	color: #FCFCFC;
	padding-bottom: 20px;
}
