 @font-face
{
font-family: 'myriadpro';
src: url('fonts/MyriadPro-Regular.otf'),

}

body {
  font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
  background: #fff;
  color: #000;
  margin: 0;
}

h3 {
  color: #d5273a;
  margin-top: 0;
}

.button {
  padding: 10px;
  background: #efefef;
  border: none;
  color: #000;
  display: block;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

.button.red {
  background: #d5273a;
  color: #fff;
}

.button.white {
  background: #fff;
  color: #000;
}

.button.inline {
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
}

.button.full-width {
  width: 100%;
}

.pagewrapper{
  max-width: 900px;
  margin: 0px auto;
  margin-top: 20px;
  padding: 10px;
}

.headerwrapper{
  background: #d5273a;
  height: 75px;
}

.headerwrapper img{
  height: 50px;
  margin-left: 115px;
  margin-top: 10px;
}

a, img {
  border:none;
  text-decoration:none;
}

.appdescredpitaya, .pagewrapper { clear: both; overflow: hidden;}

.appdescredpitaya {
  min-height: 131px;
  margin-bottom: 50px;
  padding: 20px;
  background: #eee;
}

.appicon {
  display: block;
  margin: 0 auto;
  width: 128px;
}

.bazaar-link {
  text-align: center;
  padding: 50px 20px 20px 20px;
}

@media (min-width: 768px) {
  .appicon, .appdesc {
    display: inline-block;
    vertical-align: top;
  }

  .appicon {
    width: 15%;
    margin: 0 5% 0 0;
  }

  .appdesc {
    width: 70%;
    margin-right: 5%;
  }

  .run-button {
    text-align: right;
  }

  .run-button .button {
    padding-left: 60px;
    padding-right: 60px;
    display: inline-block;
    vertical-align: middle;
  }
}

