[Unit]
Description=HAMLAB I2C configuration
Wants=systemd-remount-fs.service
After=systemd-remount-fs.service

[Service]
Type=oneshot
ExecStart=hamlab.sh

[Install]
WantedBy=multi-user.target
