[Unit]
Description=Jupyter notebook server
After=network.target

[Service]
Type=simple
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=jupyter
Environment=PATH_REDPITAYA=/opt/redpitaya
Environment=LD_LIBRARY_PATH=/opt/redpitaya/lib
Environment=PATH=/sbin:/usr/sbin:/bin:/usr/bin:/opt/redpitaya/sbin:/opt/redpitaya/bin
ExecStart=/usr/local/bin/jupyter notebook --no-browser --allow-root
ExecStop=/bin/kill $MAINPID
PIDFile=/var/run/jupyter.pid
#User=jupyter
#Group=jupyter
WorkingDirectory=/home/jupyter

[Install]
WantedBy=multi-user.target
