[Unit]
Description=A high performance web server and a reverse proxy server
After=network.target

[Service]
Type=forking
PIDFile=/run/nginx.pid
ExecStart =/opt/redpitaya/sbin/nginx -p /opt/redpitaya/www
ExecReload=/opt/redpitaya/sbin/nginx -p /opt/redpitaya/www -s reload
ExecStop  =/opt/redpitaya/sbin/nginx -p /opt/redpitaya/www -s quit

[Install]
WantedBy=multi-user.target
