[Unit]
Description=Registering Red Pitaya board MAC address and IP address to a server
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/redpitaya/bin/discovery

[Install]
WantedBy=multi-user.target
