[Unit]
Description=Lights up heartbeet LED
After=redpitaya_nginx.service

[Service]
Type=oneshot
ExecStart=/opt/redpitaya/sbin/heartbeat.sh

[Install]
WantedBy=multi-user.target
