[Unit]
Description=Wyliodrin server for Red Pitaya
After=redis.service
ConditionFileNotEmpty=/boot/wyliodrin.json

[Service]
Type=simple
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=redpitaya_wyliodrin
Environment=PATH_REDPITAYA=/opt/redpitaya
Environment=LD_LIBRARY_PATH=/opt/redpitaya/lib PATH=/sbin:/usr/sbin:/bin:/usr/bin:/opt/redpitaya/sbin:/opt/redpitaya/bin
WorkingDirectory=/root/wyliodrin-server-nodejs
ExecStartPre=/bin/sh -c "cat /opt/redpitaya/fpga/fpga_0.94.bit > /dev/xdevcfg"
ExecStart=/usr/local/bin/node /root/wyliodrin-server-nodejs/start_script.js
ExecStop=/bin/kill -15 $MAINPID
PIDFile=/var/run/wyliodrin-server.pid

[Install]
WantedBy=multi-user.target
