[Unit]
Description=Customized Nginx web server for Red Pitaya applications
After=network.target

[Service]
Type=forking
PIDFile=/run/nginx.pid
EnvironmentFile=/etc/sysconfig/redpitaya
ExecStart =/opt/redpitaya/sbin/nginx -p ${PATH_REDPITAYA}/www
ExecReload=/opt/redpitaya/sbin/nginx -p ${PATH_REDPITAYA}/www -s reload
ExecStop  =/opt/redpitaya/sbin/nginx -p ${PATH_REDPITAYA}/www -s quit

[Install]
WantedBy=multi-user.target

