[Unit]
Description=Registering Red Pitaya board MAC address and IP address to a server
Wants=network-online.target
After=network-online.target

[Service]
ExecStartPre=/bin/sh -c "cat /opt/redpitaya/fpga/fpga_0.94.bit > /dev/xdevcfg"
ExecStart=/opt/redpitaya/bin/discovery

[Install]
WantedBy=multi-user.target
