body {
    color: #cdcccc;
    overflow: auto;
    padding-right: 0 !important;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clear:before,
.clear:after {
    content: "";
    display: table;
}

.clear:after {
    clear: both;
}

.calib-button {
    display: inline-block;
    border: 1px solid gray;
    margin: 0 29px;
}

.modal {}

input,
#info div,
#info span,
.selectable,
.info-graph{
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

input {
    -webkit-user-modify: read-write-plaintext-only;
    -webkit-tap-highlight-color: transparent;
}

.input-number-box {
    display: inline-block;
    position: relative;
}

.input-number {
    line-height: 35px;
    height: 35px;
    padding-right: 25px;
}

.input-number-more,
.input-number-less {
    position: absolute;
    right: 8px;
    border-width: 7px;
    border-style: solid;
    cursor: pointer;
}

.input-number-more {
    top: 0px;
    border-color: transparent transparent gray transparent;
}

.input-number-less {
    bottom: 0px;
    border-color: gray transparent transparent transparent;
}

#myModal {
    text-align: center;
}

#triginfo {
    position: absolute;
    width: 100%;
    text-align: center;
    padding-right: 222px;
}

button:focus,
button:active,
select:focus,
input:focus,
option:focus {
    outline: 0 !important;
    -webkit-appearance: none !important;
}

area:hover {
    cursor: pointer;
}

#cur_y_diff {
    font-family: "Glyphicons Halflings";
    font-size: 11px;
    border-right: 2px solid #ccc;
    height: 100px;
    width: 7px;
    position: absolute;
    left: 50px;
    top: 0;
    display: none;
    z-index: 13;
}

#cur_y_diff:before {
    content: "\e113";
    position: absolute;
    top: -5px;
    left: 1px;
    line-height: 1;
}

#cur_y_diff:after {
    content: "\e114";
    position: absolute;
    bottom: -5px;
    left: 0;
    line-height: 1;
}

#cur_y_diff_info.cur_info {
    left: 59px;
}

#cur_z_diff {
    font-family: "Glyphicons Halflings";
    font-size: 11px;
    border-right: 2px solid #ccc;
    height: 100px;
    width: 7px;
    position: absolute;
    left: 50px;
    top: 0;
    display: none;
    z-index: 13;
}

#cur_z_diff:before {
    content: "\e113";
    position: absolute;
    top: -5px;
    left: 1px;
    line-height: 1;
}

#cur_z_diff:after {
    content: "\e114";
    position: absolute;
    bottom: -5px;
    left: 0;
    line-height: 1;
}

#cur_z_diff_info.cur_info {
    left: 59px;
}



.full-content {
    margin: 0 auto;
    position: relative;
}

.container-fluid {
    margin-top: 1px;
}

.container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-collapse {
    float: right;
}

.navbar-nav li {
    width: 131px;
    text-align: center;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 30px;
    border-left: 1px solid #999;
}

.navbar-inverse .navbar-nav > li > a {
    color: #cdcccc;
    outline: none;
}

.nav > li > a:hover {
    background-color: #444 !important;
    color: #E5D5D5;
}

#BA_RUN,
#BA_RUN:hover {
    color: #31b44b;
}

#BA_STOP,
#BA_STOP:hover {
    display: none;
    color: #ee3739;
}

.navbar {
    border-radius: 0px;
    background-color: #343433;
    background-image: linear-gradient(to bottom, #343433 0, #343433 100%);
    border: 1px solid #999;
    min-height: 42px;
    border-left: 1px solid #999;
}

.back-btn {
    height: 22px;
    float: left;
    margin: -6px 0px 0px 11px;
}

.logo {
    margin: 5px 0px 0px 15px;
    float: left;
}

.navbar-collapse collapse in {
    width: 100%;
    overflow: hidden;
}

.navbar-brand {
    height: 40px;
}

.close {
    color: #CAB7B7;
    opacity: 1;
    text-shadow: 0 0 0 !important;
}

.modal-content {
    background-color: #343433;
    border: 1px solid #999;
    border-radius: 0px;
    outline: 0;
}

#main {
    margin-right: 188px;
}

#buffer {
    border: 1px solid #999;
    position: relative;
    height: 14px;
    overflow: hidden;
}

.buf-main-line {
    margin: 5px 1px 5px 1px;
    background-color: #cdcccc;
    height: 2px;
}

.buf-red-line-holder {
    height: 12px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    position: absolute;
    top: 0;
    left: 100px;
}

.buf-red-line {
    width: 100px;
    height: 2px;
    background-color: #ce3234;
    margin-top: 5px;
    display: none;
}

#buf_time_offset {
    height: 12px;
    width: 8px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #75cede;
    display: none;
}

.right-menu-cont {
    margin-right: 0px;
    border-left: 1px solid #999;
    border-top: 1px solid #999;
}

.col-xs-6.option-content {
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    text-align: center;
    line-height: 31px;
    float: left;
    font-size: 14px;
    padding: 0px;
}

.col-xs-12.option-content {
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    text-align: center;
    line-height: 31px;
    float: left;
    font-size: 14px;
    padding: 0px;
}

.col-xs-2 {
    padding-right: 15px;
}

.menu-content {
    padding-top: 26px;
    width: 170px;
    height: 100%;
    float: right;
}

.right-menu-option {
    margin: 1px 1px 2px 1px;
    height: 31px;
}

.right-menu-option:hover {
    background-color: #444;
    cursor: pointer;
    margin: 1px 1px 1px 1px;
    height: 32px;
}

.btn:active,
.btn.active {
    background-image: none;
    background-color: #999;
    color: #111 !important;
}

.dialog {
    margin-right: 0px;
    display: none;
}

#info {
    margin-top: 10px;
    min-height: 100px;
}

.info-graph {
    /*margin-top: 10px;*/
}

.left-info {
    width: 160px;
    float: left;
    text-align: center;
}

.right-info {
    width: 160px;
    float: right;
    text-align: center;
}

.info-title {
    float: left;
    width: 46px;
}

.info-value {
    float: left;
    width: 90px;
}

.info-title > div,
.info-value > div {
    display: none;
}

#info-meas {
    width: 195px;
    float: left;
    max-height: 82px;
    overflow: hidden;
}

#amplitude-info {
    position: absolute;
    top: 43%;
    left: -87px;
    transform: rotate(-90deg);
    transform-origin: 80px 50% 0px;
}

#phase-info {
    position: absolute;
    top: 43%;
    right: -87px;
    transform: rotate(90deg);
    transform-origin: 80px 50% 0px;
}

.ch1,
.btn.ch1,
.ch1.focus {
    color: #f3ec1a !important;
}

.ch2,
.btn.ch2,
.ch2.focus {
    color: #31b44b !important;
}

.output1,
.btn.output1,
.output1.focus {
    color: #9595ca !important;
}

.output2,
.btn.output2,
.output2.focus {
    color: #ee3739 !important;
}

.math,
.btn.math,
.math.focus {
    color: #ab4d9d !important;
}

.trig,
.btn.trig,
.trig.focus {
    color: #75cede !important;
}

.ch1.active,
.ch2.active,
.output1.active,
.output2.active,
.math.active,
.trig.active {
    color: #111 !important;
}

.menu-btn:disabled {
    opacity: 0.3;
}

.menu-btn.state-on {
    opacity: 1.0;
}

.menu-btn img {
    height: 20px;
    width: 20px;
    display: none;
    margin: 0px -2px 0px -22px;
}

.form-control {
    color: #fff;
    background-color: #343433;
    background-image: none;
    border: 0px none;
    box-shadow: none;
    border-radius: 0px;
    height: 33px;
    cursor: pointer;
}

.form-control:hover {
    color: #fff;
    background-color: #444;
}

.close:hover,
.close:focus {
    color: #fff !important;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
}

.col-info {
    font-size: 10px;
    margin: -11px 0px -25px 0px;
    padding: 0px;
    float: left;
    color: #cdcccc;
    height: 10px;
}

.col-info-activ {
    font-size: 10px;
    margin: -8px 0px -2px -11px;
    padding: 0px;
    float: left;
    color: #cdcccc;
    height: 10px;
    text-shadow: 0px 1px 1px #111;
}

.calib-info {
    font-size: 20px;
    margin-left: 115px;
    margin-top: -30px;
    padding: 0px;
    float: left;
    color: #cdcccc;
    height: 10px;
    text-shadow: 0px 1px 1px #111;
}

.btn {
    background-image: none;
    border: 0 solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    line-height: 1.42857143;
    border-radius: 0;
    width: 100%;
    background-color: transparent;
    text-shadow: 0px 0px;
    /*  box-shadow: 0 0 0 1px #777; */
    color: #cdcccc !important;
}

.btn:hover,
btn:active {
    color: #fff !important;
    background-image: none;
}

.math-radio-btn:disabled,
.math-radio-btn.disabled {
    background-image: none;
    background-color: transparent;
    color: #cdcccc !important;
}

#meas_list {
    margin-top: 10px;
    /* margin-bottom: 2px; */
    min-height: 30px;
    max-height: 128px;
    overflow: hidden;
}

.meas-item {
    margin: 0px 1px 1px 1px;
    height: 31px;
    border: 1px solid #999;
    cursor: pointer;
}

.meas-item:hover {
    background-color: #444;
    color: #fff;
}

.setfield {
    color: #999;
    background-color: transparent;
    border: 0px;
    width: 100%;
    text-align: center;
    height: 31px;
}

.close-dialog {
    cursor: pointer;
}

.close-dialog img {
    height: 19px;
    float: left;
    margin: 7px -19px 0px 7px;
    cursor: pointer;
}

#meas:hover,
#cursor:hover {
    color: #fff;
}

.btn.focus {
    color: #777;
    border: 0px solid transparent;
}

#joystick {
    position: absolute;
    margin-left: 8px;
    right: 10px;
    bottom: 10px;
    width: 150px;
    height: auto;
}

#jtk_btns {
    height: auto;
    border: 0 none;
    width: 150px;
}

#graphs_holder {
    margin-top: 12px;
    padding-left: 50px;
    padding-right: 50px;
    overflow: hidden;
}

.graphs {
    position: relative;
    overflow: hidden;
}

.graph_grid {
    margin-bottom: 2px;
}

.plot {
    position: absolute;
    top: 0px;
    left: 0px;
}

.flot-x-axis .flot-tick-label {
    -moz-transform: rotate(-40deg); /* Для Firefox */
    -ms-transform: rotate(-40deg); /* Для IE */
    -webkit-transform: rotate(-40deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-40deg); /* Для Opera */
    transform: rotate(-40deg);
}

.y-offset-arrow,
#time_offset_arrow {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: -8px;
    display: none;
    z-index: 10;
}

#time_offset_arrow {
    margin-top: 0;
    display: inline;
}

#ba_trig_edge_img {
    margin: -2px 0 0;
}

.hline {
    height: 2px;
    border-top: 2px dashed #ccc;
    position: absolute;
    left: 35px;
    right: 1px;
    top: 0;
    opacity: 0.8;
    display: none;
    z-index: 9;
}

.vline {
    width: 2px;
    border-right: 2px dashed #ccc;
    position: absolute;
    top: 28px;
    bottom: 9px;
    left: 0;
    opacity: 0.8;
    display: none;
    z-index: 9;
    height: 100px;
}

#trigger_level.hline {
    border-top-style: solid;
}

.harrow {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -7px;
    display: none;
    z-index: 12;
	left: 94.9%;
}

.varrow {
    position: absolute;
    left: 0;
    bottom: 8px;
    margin-left: -7px;
    margin-right: -7px;
    display: none;
    z-index: 12;
	top: 90.5%;
}

.cur_info {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 10px;
    color: #fff;
    background-color: #000;
    line-height: 12px;
    padding: 1px 3px;
    white-space: nowrap;
    display: none;
    z-index: 14;
}

#kostyl_footer {
    position: absolute;
    bottom: -4px;
    width: 100%;
    background: #343433;
    height: 10px;
    z-index: 15;
}

#cur_x1_info.cur_info,
#cur_x2_info.cur_info {
    top: 2px;
    margin-left: 3px;
}

#cur_y1_info.cur_info,
#cur_y2_info.cur_info {
    left: 2px;
    margin-top: -15px;
}

#cur_x_diff {
    font-family: "Glyphicons Halflings";
    font-size: 11px;
    line-height: 1;
    border-bottom: 2px solid #ccc;
    margin: 0 5px;
    width: 100px;
    height: 7px;
    position: absolute;
    left: 0;
    top: 40px;
    display: none;
    z-index: 13;
}

#cur_x_diff:before {
    content: "\e079";
    margin-left: -5px;
}

#cur_x_diff:after {
    content: "\e080";
    margin-right: -5px;
    float: right;
}

#cur_y_diff {
    font-family: "Glyphicons Halflings";
    font-size: 11px;
    border-right: 2px solid #ccc;
    height: 100px;
    width: 7px;
    position: absolute;
    left: 50px;
    top: 0;
    display: none;
    z-index: 13;
}

#cur_y_diff:before {
    content: "\e113";
    position: absolute;
    top: -5px;
    left: 1px;
    line-height: 1;
}

#cur_y_diff:after {
    content: "\e114";
    position: absolute;
    bottom: -5px;
    left: 0;
    line-height: 1;
}

#cur_y_diff_info.cur_info {
    left: 59px;
}

#cur_x_diff_info.cur_info {
    top: 30px;
}

#info_box {
    position: absolute;
    left: 15px;
    top: 8px;
    z-index: 15;
}

.img-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}


/*
.centerer {
  display: inline-block;
  vertical-align: middle;
}*/

.centerer {
    display: inline-block;
    vertical-align: middle;
    height: 80%;
}

#header {
    background-color: black;
    color: #CCC;
    text-align: center;
    padding: 6px;
    overflow: hidden;
    height: 30px;
    width: 100%;
    white-space: nowrap;
}

#connection_meter {
    right: 100px;
    width: 200px;
    float: right;
    text-align: left;
}

#throughput_view2 {
    text-align: right;
    width: 150px;
}

#BA_CUR_INFO {
    float: right;
    margin-right: 15px;
}

#calibration{
    display: none;
    position: relative;
    width: 150px;
    margin-left: -75px;
    top: 55%;
    left: 50%;
    font-size: 22px;
    text-align: center;
}

#measuring-status{
    display: none;
    position: relative;
    width: 170px;
    height: 200px;
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
}

#measuring-loader{
    display: block;
    position: relative;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #f00;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 1001;
}

#measuring-loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#measuring-loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #ccc;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

