.subwindow {
    position: fixed;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 200;
    display: none;
    background-color: #343433;
    border: 1px solid #999;
    border-radius: 0px;
    outline: 0;
    overflow: hidden;
    min-height: 200px;
    min-width: 350px;
}

.subwindow-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subwindow-header div{
    font-size: 16px;
    font-weight: 800;
}

.close-button {
cursor: pointer;
    font-size: 1.5em;
}


.subwindow.show {
    display: block;
}

.hidden {
    display: none;
}

/* Resize Handle Styles */
.resize-handle {
    position: absolute;
    width: 10px;
    height: 10px;
    cursor: nwse-resize; /* Default cursor */
}

.resize-handle.bottom-right{
    bottom: 0;
    right: 0;
    cursor: se-resize;
}

.resizable-main {
    height: 100%;
    overflow: scroll;
    border: 1px solid #555555;
    scrollbar-color: #999 #555555;
}

.subwindow-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}



/* TABLE CSS */

.decoded_table {
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
    table-layout: auto;
}

.decoded_table thead,.decoded_table  tbody,.decoded_table  tr,.decoded_table  td,.decoded_table  th { display: block; }

.decoded_table  tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.decoded_table thead th {
    height: 30px;
}

.decoded_table tbody {
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    scrollbar-color: #888888 #3f3f3f;
}



.decoded_table tbody td, thead th {
    float: left;
    white-space:nowrap;
}


.decoded_table  tbody td {
    font-size: 12px;
    border: solid 1px #6464647d;
    padding-left: 5px;
}

.decoded_table tbody tr:hover {background-color: #9191917d;}

